
/*5 differnt CSS properties and 5 diff selectors*/

body {
    text-align: center;
}

th {
    text-align: center;
    font-weight: 200%;
}

h2 {
    font-size: 140%;
}

th {
    background-color: lightgray;
}

.yak-pic {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-top: 50px;
}

/*id once and class once*/

#yak-text {
    text-align: center;
    font-style: oblique;
}
 


/*media query here*/

@media (max-width: 499px) {
    #yak-image-grid {
        display: flex;
        flex-wrap: wrap;
    }

}


/*one SCSS variable*/

/*once SCSS inheritance*/

